## Ignore Visual Studio Temporary Files and User Settings
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
DocumentLayout*.json

## Ignore Build Artifacts (bin and obj directories)
[Bb]in/
[Oo]bj/

## Ignore Publish Folders
[Pp]ublish/
Publish/

## Other build artifacts
*.dll
*.pdb
*.exe
